{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Добавить нового персонажа
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="card col-4">
      <div class="card-header">
        Описание нового персонажа
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Добавить" %}
        </form>
        {% with data=form.instance %}
          {% if form.is_valid %}
            <h3>Персонаж {{ data.name }} добавлен</h3>
          {% endif %}
        {% endwith %}
      </div>
    </div>
  {% else %}
    <h2>Требуется вход в систему</h2>
  {% endif %}
{% endblock %}