{% extends "base.html" %}
{% block title %}
  {{ movie.title }}
{% endblock %}
{% block content %}
  <article class="mb-5">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h3 class="card-title">{{ movie.title }}</h3>
        <h4 class="card-subtitle mb-2 text-muted">
        <small>
          {{ movie.genre}}, {{ movie.year }}
        </small>
        </h4>
        <p class="card-text">{{ movie.description }}</p>
      </div>
    </div>
  </article>
{% endblock %}